<div>
  <app-menu></app-menu>
</div>

<!-- <div class="row justify-content-center mx-0">
  <div class="col-xl-4">
    <div class="container">
      <form [formGroup]="formGroup">
        <h3 class="mb-4 text-center">Cập nhật thông tin project</h3>


        <div class="row mb-3 mt-5 ">
          <div class="col-3">
            <label for="unit" class="col-form-label">Tên Đơn Vị<span class="text-danger">*</span></label>
          </div>
          <div class="col-9">
            <input id="unit" class="form-control" formControlName="unit" type="text"
                   placeholder="Nhập tên đơn vị thực hiện dự án">
            <div class="text-danger" *ngFor="let validation of validation_messages.name">
              <div class="error-message"
                   *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="row mb-3 ">
          <div class="col-3">
            <label for="name" class="col-form-label">Tên project<span class="text-danger">*</span></label>
          </div>
          <div class="col-9">
            <input id="name" class="form-control" formControlName="name" type="text"
                   placeholder="Nhập tên project">
            <div class="text-danger" *ngFor="let validation of validation_messages.name">
              <div class="error-message"
                   *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="description" class="col-form-label">Description<span class="text-danger">*</span></label>
          </div>
          <div class="col-9">
            <textarea  id="description" class="form-control" formControlName="description" type="text" cols="30" rows="10"
                   placeholder="Nhập chi tiết dự án"></textarea>
            <div class="text-danger" *ngFor="let validation of validation_messages.description">
              <div class="error-message"
                   *ngIf="formGroup.get('description').hasError(validation.type) && (formGroup.get('description').dirty || formGroup.get('description').touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="status" class="col-form-label">Trạng thái dự án<span class="text-danger">*</span></label>
          </div>
          <div class="col-9">
            <input id="status" class="form-control" formControlName="status" type="text"
                   placeholder="Nhập trạng thái dự án">
            <div class="text-danger" *ngFor="let validation of validation_messages.status">
              <div class="error-message"
                   *ngIf="formGroup.get('status').hasError(validation.type) && (formGroup.get('status').dirty || formGroup.get('status').touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="row mb-3 ">
          <div class="col-3">
            <label for="timeStart" class="col-form-label">Thời gian bắt đầu<span class="text-danger">*</span></label>
          </div>
          <div class="col-9">
            <input id="timeStart" class="form-control" formControlName="timeStart" type="text"
                   placeholder="Nhập thời gian bắt đầu : yyyy/mm/dd">
            <div class="text-danger" *ngFor="let validation of validation_messages.timeStart">
              <div class="error-message"
                   *ngIf="formGroup.get('timeStart').hasError(validation.type) && (formGroup.get('timeStart').dirty || formGroup.get('timeStart').touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="row mb-3 ">
          <div class="col-3">
            <label for="timeEnd" class="col-form-label">Thời gian kết thúc<span class="text-danger">*</span></label>
          </div>
          <div class="col-9">
            <input id="timeEnd" class="form-control" formControlName="timeEnd" type="text"
                   placeholder="Nhập thời gian kết thúc: yyyy/mm/dd">
            <div class="text-danger" *ngFor="let validation of validation_messages.timeEnd">
              <div class="error-message"
                   *ngIf="formGroup.get('timeEnd').hasError(validation.type) && (formGroup.get('timeEnd').dirty || formGroup.get('timeEnd').touched)">
                {{validation.message}}</div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <div>
            <button [disabled]="!formGroup.valid" style="margin-right: 20px" class="btn btn-primary"
                    (click)="editProject()">Sửa
            </button>
            <a routerLink="/managerProject" class="btn btn-dark">Hủy</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->


<div class="card" style="width: 500px;">
  <div class="card-body">
    <div>
      <div class="form-group">
        <label for="unit">Tên đơn vị</label>
        <input class="form-control" type="text" id="unit" placeholder="Unit" required [(ngModel)]="updateproject.unit" name="unit">
      </div>
      <div class="form-group">
        <label for="name">Tên project</label>
        <input class="form-control" type="text" id="name" placeholder="Name" required [(ngModel)]="updateproject.name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Mô tả dự án</label>
        <textarea class="form-control" type="text" id="description" placeholder="Description" required [(ngModel)]="updateproject.description" name="description" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input class="form-control" type="text" id="status" placeholder="Status" required [(ngModel)]="updateproject.status" name="status">
      </div>
      <div class="form-group">
        <label for="timeStart">Ngày bắt đầu</label>
        <input class="form-control" type="text" id="timeStart" placeholder="Time Start" required [(ngModel)]="updateproject.timeStart" name="timeStart">
      </div>
      <div class="form-group">
        <label for="timeEnd">Ngày kết thúc</label>
        <input class="form-control" type="text" id="timeEnd" placeholder="Time End" required [(ngModel)]="updateproject.timeEnd" name="timeEnd">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right" (click)="editProject()">Submit</button>
          <a routerLink="/managerProject" class="btn btn-dark">Hủy</a>
        </div>
      </div>
    </div>
  </div>
</div>
