<div>
  <app-menu></app-menu>
</div>

<div class="card" style="width: 1000px;margin-left: 250px;">
  <div class="card-body">
    <div>
      <div class="form-group">
        <label for="unit">Tên đơn vị</label>
        <input class="form-control" type="text" id="unit" placeholder="Unit" required [(ngModel)]="updateproject.unit" name="unit">
      </div>
      <div class="form-group">
        <label for="name">Tên project</label>
        <input class="form-control" type="text" id="name" placeholder="Name" required [(ngModel)]="updateproject.name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Mô tả dự án</label>
        <textarea class="form-control" type="text" id="description" placeholder="Description" required [(ngModel)]="updateproject.description" name="description" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input class="form-control" type="text" id="status" placeholder="Status" required [(ngModel)]="updateproject.status" name="status">
      </div>
      <div class="form-group">
        <label for="timeStart">Ngày bắt đầu</label>
        <input class="form-control" type="text" id="timeStart" placeholder="Time Start" required [(ngModel)]="updateproject.timeStart" name="timeStart">
      </div>
      <div class="form-group">
        <label for="timeEnd">Ngày kết thúc</label>
        <input class="form-control" type="text" id="timeEnd" placeholder="Time End" required [(ngModel)]="updateproject.timeEnd" name="timeEnd">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right" (click)="editProject()">Submit</button>
        </div>
        <div><a routerLink="/managerProject/list" class="btn btn-dark" style="width: 200px;">Hủy</a></div>
      </div>
    </div>
  </div>
</div>
