<div>
  <app-menu></app-menu>
</div>

<div class="card" style="width: 1535px;text-align: center;">
  <h2 style="text-align: center;">Department List</h2>
  <div class="col-6 col-md-6" style="margin-left: 350px;">
    <div class="search" >
      <input
        style="height: 40px; width: 250px"
        type="text"
        placeholder="Search"
        [(ngModel)]="seachFrom.seach"
      />
      <button
        class="fa fa-search"
        style="height: 40px; width: 40px"
        (click)="search()"
      ></button>
    </div>
  </div>
  <div style="width: 200px;">
      <button type="submit" class="btn btn-success btn-block" (click)="addDepartment()">Add Department</button>
  </div>

  <br>
  <table id="customers">
    <tr>
      <th>ID</th>
      <th style="width: 150px;">
        Code &nbsp;
        <mat-icon  style="cursor: pointer;" (click)="sortCode('down')">arrow_downward</mat-icon>
        &nbsp;
        <mat-icon  style="cursor: pointer;" (click)="sortCode('up')">arrow_upward</mat-icon>
      </th>
      <th>Location</th>
      <th>Description</th>
      <th >Create At</th>
      <th value="Acction">Acction</th>
    </tr>

    <tr *ngFor="let depart of department| paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{depart?.id}}</td>
      <td><a [routerLink]="['/displayDipartment', depart.id]">{{depart?.code}}</a></td>
      <td>{{depart?.location}}</td>
      <td>{{depart?.description}}</td>
      <td>{{depart?.createAt}}</td>
      <td class="text-center">
        <button class="btn btn-success" [routerLink]="['/department/edit', depart.id]"><i
          class="fa fa-edit"></i></button>
        <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#exampleModal"
                (click)="deleteId = depart.id; deleteName = depart.code"><i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
  <div class="col-md-12" style="padding-top: 20px;text-align: center;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-delete-department [deleteId]="deleteId" [deleteName]="deleteName" (deleteComplete)="deleteSuccess()"></app-delete-department>
      </div>
    </div>
  </div>
</div>
