<div>
  <app-menu></app-menu>
</div>

<div class="card" style="width: 1000px;margin-left: 250px;">
  <div class="card-body">
    <div>
      <div class="form-group">
        <label for="code">Tên phòng ban</label>
        <input class="form-control" type="text" id="code" placeholder="Code" required [(ngModel)]="department.code" name="code">
      </div>
      <div class="form-group">
        <label for="description">Mô tả </label>
        <textarea class="form-control" type="text" id="description" placeholder="Description" required [(ngModel)]="department.description" name="description" cols="30" rows="10"></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right" (click)="editDepartment()">Submit</button>
        </div>
        <div><a routerLink="/listDepartment" class="btn btn-dark" style="width: 200px;">Hủy</a></div>
      </div>
    </div>
  </div>
</div>
