<div>
  <app-menu></app-menu>
</div>

<div class="card" style="width: 1000px;margin-left: 250px;">
  <div class="card-body">
    <div>
      <div class="form-group">
        <label for="unit">Tên đơn vị</label>
        <input class="form-control" type="text" id="unit" placeholder="Unit" required [(ngModel)]="updateProject.unit" name="unit">
      </div>
      <div class="form-group">
        <label for="name">Tên project</label>
        <input class="form-control" type="text" id="name" placeholder="Name" required [(ngModel)]="updateProject.name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Mô tả dự án</label>
        <textarea class="form-control" type="text" id="description" placeholder="Description" required [(ngModel)]="updateProject.description" name="description" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input class="form-control" type="text" id="status" placeholder="Status" required [(ngModel)]="updateProject.status" name="status">
      </div>
      <div class="form-group">
        <label for="timeStart">Ngày bắt đầu</label>
        <input class="form-control" type="text" id="timeStart" placeholder="Time Start" required [(ngModel)]="updateProject.timeStart" name="timeStart">
      </div>
      <div class="form-group">
        <label for="timeEnd">Ngày kết thúc</label>
        <input class="form-control" type="text" id="timeEnd" placeholder="Time End" required [(ngModel)]="updateProject.timeEnd" name="timeEnd">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right" (click)="updateNewProject()">Submit</button>
        </div>
        <div><a routerLink="/managerProject/list" class="btn btn-dark">Project List</a></div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card" style="width: 1030px;margin-left: 500px;margin-top: -828px;">
  <h2 style="text-align: center;">Project List</h2>
<div class="col-6 col-md-6" style="margin-left: 350px;">
  <div class="search" >
    <input
      style="height: 40px; width: 250px"
      type="text"
      placeholder="Search"
      [(ngModel)]="seachFrom.seach"
    />
    <button
      class="fa fa-search"
      style="height: 40px; width: 40px"
      (click)="search()"
    ></button>
  </div>
</div>
<br>
<table id="customers">
  <tr>
    <th>ID</th>
    <th style="width: 150px;">
      Name &nbsp;
      <mat-icon  style="cursor: pointer;" (click)="sortCode('down')">arrow_downward</mat-icon>
      &nbsp;
      <mat-icon  style="cursor: pointer;" (click)="sortCode('up')">arrow_upward</mat-icon>
    </th>
    <th>Unit</th>
    <th>Description</th>
    <th>Status</th>
    <th style="width: 50px;">Time Start</th>
    <th style="width: 50px;">Time End</th>
    <th value="Acction">Acction</th>
  </tr>
  <tr *ngFor="let project of updateProject| paginate: { itemsPerPage: 5, currentPage: p }">
    <td>{{project?.id}}</td>
    <td>{{project?.name}}</td>
    <td>{{project?.unit}}</td>
    <td>{{project?.description}}</td>
    <td>{{project?.status}}</td>
    <td>{{project?.timeStart}}</td>
    <td>{{project?.timeEnd}}</td>
    <td class="text-center">
      <button class="btn btn-success" [routerLink]="['/managerProject/edit', project.id]"><i
        class="fa fa-edit"></i></button>
      <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#exampleModal"
              (click)="deleteId = project.id; deleteName = project.name"><i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>

</table>

<div class="col-md-12" style="padding-top: 20px;text-align: center;">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-delete-project [deleteId]="deleteId" [deleteName]="deleteName" (deleteComplete)="deleteSuccess()"></app-delete-project>
      </div>
    </div>
  </div>
</div>

</div> -->
