<div>
  <app-menu></app-menu>
</div>

<h2 style="margin-left: 700px;">Đơn xin nghỉ phép</h2>
<br>
<table style="margin-left: 500px;">
  <tr>
    <td><span>Name</span></td>
    <td><input type="text" [(ngModel)]="leave.name" name="name" style="width: 500px;"></td>
  </tr>
  <tr>
    <td><span>Nghỉ theo chế độ</span></td>
    <td>
      <select type="number" [(ngModel)]="leave.reason" name="reason" style="width: 500px;">
        <option value="SickLeave">Sick Leave</option>
        <option value="Late">Late</option>
        <option value="Holiday">Holiday</option>
      </select>
    </td>
  </tr>
  <!-- <tr>
    <td><span>Từ ngày</span></td>
    <td><input type="text" [(ngModel)]="leave.formDate" name="formDate" style="width: 500px;"></td>
  </tr>
  <tr>
    <td><span>Đến ngày</span></td>
    <td><input type="text" [(ngModel)]="leave.toDate" name="toDate" style="width: 500px;"></td>
  </tr> -->
  <tr>
    <td><span>Your Mail</span></td>
    <td><input type="email" [(ngModel)]="leave.yourMail" name="yourMail" style="width: 500px;"></td>
  </tr>
  <tr>
    <td><span>Lý do nghỉ</span></td>
    <td><textarea type="text" [(ngModel)]="leave.message" name="message" cols="30" rows="10" style="width: 500px;"></textarea></td>
  </tr>
  <tr>
    <td><span>Send Email to Manager</span></td>
    <td><input type="text" [(ngModel)]="leave.email" name="email" style="width: 500px;"></td>
  </tr>
  <tr>
    <td></td>
    <td><button (click)="onSubmit()" class="btn btn-success btn-block">Submit</button></td>
  </tr>
</table>
