<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<h1>Application for leave</h1>

<p th:text="${'Tên nhân viên xin nghỉ    : ' + name}"></p>
<p th:text="${'Lý do nghỉ     :' + reason}"></p>
<p th:text="${'Email nhân viên xin nghỉ :' + yourMail}"></p>
<p th:text="${'Message : ' + message}"></p>

<!--<p>-->
<!--    <b>-->
<!--        th:text="${reason}"-->
<!--    </b>-->
<!--</p>-->

<!--<p>-->
<!--    <b>-->
<!--        ${message}-->
<!--    </b>-->
<!--</p>-->

</body>
</html>
